
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<p>Your Query was successfully submitted to the criminal database engine. Results will be emailed to the provided email address as a pdf file.</p>

<h3>Thank You for choosing us!</h3>
<p> </p>
<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>
